<div ng-controller="SampleCtrl">
    <div ng-show="samples.length" ng-repeat="theme in themes | orderBy:['name']">
        <table class="table table-hover">
            <caption>Theme: {{theme.name}}</caption>
            <thead>
                <tr>
                    <th class="sample">Sample</th>
                    <th class="filename">Filename</th>
                    <th class="events">Events</th>
                    <th class="action">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sample in samples | filter:{ theme: theme.name } | orderBy:['name']">
                    <td class="sample">{{sample.name}}</td>
                    <td class="filename">{{sample.filename}}</td>
                    <td class="events">{{sample.events}}</td>
                    <td class="action">
                        <button ng-click="play($event, sample)" type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                        <button ng-click="remove($event, sample)" type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-controller="SampleModalCtrl">
        <button ng-click="open()" type="button" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus">Add</span>
        </button>
    </div>

    <div ng-hide="samples.length">There are no themes.</div>

</div>

<audio>