<div ng-controller="SystemCtrl">
    <table ng-show="systems.length" class="table table-hover table-systems">
        <thead>
            <tr>
                <th class="system">System</th>
                <th class="theme">Theme</th>
                <th class="action">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="system in systems | orderBy:['name']" ng-click="open(system)">
                <td class="system">{{system.name}}</td>
                <td class="theme">{{system.theme}}</td>
                <td class="action">
                    <button ng-click="remove($event, system)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button ng-click="open()" type="button" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus">Add</span>
        </button>
    </div>

    <div ng-hide="systems.length">There are no systems.</div>
</div>